<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Document
        </title>

    </head>
    <body>
  <h1>hi ,im dev</h1>
  <form action="/api/logout">
    <button type="submit">logout</button>
  </form>
    </body>  
</html>
</html>